{% extends "base.html" %}

{% block content %}
<div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-body">
        <h5 class="card-title">Общие сведения</h5>
        <h6 class="card-subtitle mb-2 text-muted">
            ФИО: {{ employee.fio }}
        </h6>
        <h6 class="card-subtitle mb-2 text-muted">
            Дата рождения: {{ employee.birth_date }}
        </h6>
        <h6 class="card-subtitle mb-2 text-muted">
            Телефон: {{ employee.telephone_number }}
        </h6>
        <h6 class="card-subtitle mb-2 text-muted">
            Почта: {{ employee.email }}
        </h6>
        <h6 class="card-subtitle mb-2 text-muted">
            Статус: не добавлено пока в модель
        </h6>
        <h6 class="card-subtitle mb-2 text-muted">
            Должность: {{ employee.job_title }}
        </h6>
        <h6 class="card-subtitle mb-2 text-muted">
            Классный чин: {{ employee.class_rank }}
        </h6>
        <h6 class="card-subtitle mb-2 text-muted">
            Структурное подразделение: {{ employee.organization.structural_division }}
        </h6>
        <h6 class="card-subtitle mb-2 text-muted">
            ФАВР/Тер.орган: Что? Не добавлено пока
        </h6>
        <h6 class="card-subtitle mb-2 text-muted">
            Рейтинг сотрудника: {{ employee.average_rating }}
        </h6>
        
        
        <p class="card-text">{{ employee.job_title }}</p>
      </div>
    </div>
</div>
{% endblock %}