@font-face {
  font-family: "SF UI Display";
  src: url("http://kp.localhost/vite/fonts/SFUIDisplay-Light.woff2");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("http://kp.localhost/vite/fonts/SFUIDisplay-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("http://kp.localhost/vite/fonts/SFUIDisplay-Medium.woff2");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("http://kp.localhost/vite/fonts/SFUIDisplay-Bold.woff2");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
