HOSTNAME=kp.localhost

BACKEND_PORT=8021
LIFERAY_PORT=8080
FRONTEND_PORT=3000

VITE_BACKEND_AUTHORITY="http://${HOSTNAME}:${BACKEND_PORT}"
POSTGRES_PASSWORD=password

POSTGRES_DB_LIFERAY=liferay
POSTGRES_USER_LIFERAY=liferay
POSTGRES_PASSWORD_LIFERAY=liferay

POSTGRES_DB_DJANGO=django
POSTGRES_USER_DJANGO=django
POSTGRES_PASSWORD_DJANGO=django

SECRET_KEY="secret_key"
DEBUG=true
CHALLENGE_URL=http://liferay:8080/api/jsonws/region/fetch-region/region-id/0

LDAP_ROOT=dc=example,dc=org
LDAP_USER=ldap
LDAP_PASSWORD=ldap
