html {
  overflow-y: scroll;
}

:root {
  font-size: 16px;
}

.korp-portal-portlet {
  font-family: "SF UI Display", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.korp-portal-portlet a:hover,
.korp-portal-portlet a:focus {
  color: inherit;
}

:where(.korp-portal-portlet) label,
:where(.korp-portal-portlet) table {
  font: inherit;
  color: inherit;
}

a.active {
  text-decoration: underline;
}

/* overwrite Liferay styles */
#wrapper {
  padding: 0 0 0 50px !important;
}

#wrapper .portlet-content {
  padding: 0;
}

#wrapper #column-1 {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
