@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
}

.korp-portal-portlet {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.korp-portal-portlet a:hover,
.korp-portal-portlet a:focus {
  color: inherit;
}

.korp-portal-portlet label,
.korp-portal-portlet table {
  font: inherit;
  color: inherit;
}
