NETWORK_NAME=kp

HOSTNAME=kp.localhost
PATH_PREFIX=/api/kp

DB_HOST=db
DB_PORT=5432
DB_NAME=django
DB_USER=django
DB_PASSWORD=password

DB_HOST_LIFERAY=db.liferay
DB_PORT_LIFERAY=5432
DB_NAME_LIFERAY=liferay
DB_USER_LIFERAY=liferay
DB_PASSWORD_LIFERAY=password

SECRET_KEY="secret_key"
DEBUG=true
CHALLENGE_URL=http://liferay:8080/api/jsonws/region/fetch-region/region-id/0
